@use "sass:math";

//For grid based layout with gutter space | Margins not included
@mixin col(
  $number,
  $span,
  $with-gutter: true,
  $relative: false,
  $right: false
) {
  //Customize these values to set the grid
  $columns: 12;
  $gutter: 10;
  $test-width: 1080;

  $result: 0%;
  $width: 0;
  $col-width: math.div($test-width - $gutter * ($columns - 1), 12);

  @if $with-gutter {
    $result: ($col-width + $gutter) * $number;
    $width: ($col-width + $gutter) * $span - $gutter;
  } @else {
    $result: ($col-width + $gutter) * $number - $gutter;
    $width: ($col-width + $gutter) * $span + $gutter;
  }

  $result: percentage(math.div($result, $test-width));
  $width-perc: percentage(math.div($width, $test-width));

  @if $relative {
    position: relative;
    @if $right {
      margin-left: 100% - $result - $width-perc;
    } @else {
      margin-left: $result;
    }
  } @else {
    position: absolute;
    @if $right {
      right: $result;
    } @else {
      left: $result;
    }
  }
  width: $width-perc;
}

%center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
