//======================================================================
// THIS FILE CONTAINS LAYOUT STYLING AND NON-REUSABLE COMPONENTS
//
//======================================================================

@use "base";
@use "modules";
@use "var" as *;
@use "grid" as g;

%test {
  border: 1px solid black;
}

.home {
  position: relative;
  height: 100vh;
  overflow: hidden;

  background: bottom/cover no-repeat url("../img/bg__mobile.jpg");
  color: #fff;

  .bg__wave {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 9;
  }

  .time {
    @include g.col(1, 7);
    top: 24.2%;
    text-align: right;
    z-index: 0;

    font-size: 14.7vmin;
    font-weight: $font-regular;
  }

  .today {
    @include g.col(2, 4, $right: true);
    bottom: 6.2%;
    text-align: right;

    &__day {
      font-size: 5vmin;
    }

    &__date {
      margin-top: 2.8vmin;
      font-size: 4.8vmin;
    }
  }

  .random-quote {
    // @extend %test;

    position: absolute;
    left: 50%;
    font-size: 3.33vmin;
    width: 66.36%;
    top: 57%;
    transform: translate3d(-50%, -50%, 0);

    &__quote {
      line-height: 1.35em;

      &:before {
        position: absolute;
        content: "“";
        left: -10px;
        top: -1px;

        color: $blue;
        font-size: 1.4em;
      }
    }

    &__char {
      margin-top: 5%;
      margin-bottom: 0.1rem;
      text-align: right;

      font-size: 0.9em;
      font-weight: $font-light;

      &::before {
        content: "-";
        position: absolute;
        margin-left: -1rem;
      }
    }

    &__anime {
      // position: relative;
      width: 50%;
      float: right;
      text-align: right;

      font-size: 0.5em;
      font-weight: $font-light;
      line-height: 1.36em;
    }
  }
}

//===================================================================
//              INFO SCREEN COMPONENTS
//===================================================================

.info {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .title {
    margin: 9% auto 0 auto;
    width: 90%;
    text-align: center;

    &__place {
      font-weight: $font-bold;
      font-size: 1.9rem;
      color: $black;
      line-height: 2em;
    }

    &__date {
      font-size: 1rem;
      color: #a1a1a1;
    }
  }
  .c-weather-icon {
    width: 65%;
    margin: 19% auto 0 auto;
    position: relative;
    left: 2%;
  }

  .temp-current {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    margin: 2rem auto 1.6rem auto;
    font-size: 2.9rem;
    text-align: center;

    &__real,
    &__feels {
      flex: 0 0 50%;
      position: relative;
      .symbol {
        font-size: 0.5em;
        position: relative;
        top: -0.7em;
        left: 0.1em;
      }
    }

    &__real {
      border-right: 0.14rem solid $black;
    }
    &__feels {
      border-left: 0.14rem solid $black;

      &:before {
        content: "Feels Like";
        position: absolute;
        left: 25%;
        color: #a1a1a1;
        top: -1.3em;
        font-size: 0.25em;
      }
    }
  }

  .forecast {
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center;
  }

  .down-arrow {
    position: absolute;
    bottom: 12%;
    width: 50px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.detailed-page {
  .day-menu {
    display: flex;
    width: fit-content;
    margin: 8% auto 0;
    justify-content: space-around;
    background-color: $lightgray;
    border-radius: 1.2rem;
    border: 1px solid $border-clr;
    font-size: 0.9em;

    li {
      padding: 0.5rem 1.2rem;
      border-radius: inherit;
      border: 1px solid transparent;
    }

    .active {
      background-color: $darkblue;
      border-color: $darkblue;
      color: #fff;
    }
  }
}
