//======================================================================
// THIS FILE CONTAINS LAYOUT STYLING AND NON-REUSABLE COMPONENTS
//======================================================================

@use "base";
@use "modules";
@use "var" as *;
@use "grid" as g;

%test {
  border: 1px solid black;
}

.home {
  position: relative;
  height: 100vh;
  overflow: hidden;

  background: bottom/cover no-repeat url("../img/bg__mobile.jpg");
  color: #fff;

  .bg__wave {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 9;
  }

  .time {
    @include g.col(1, 7);
    top: 24.2%;
    text-align: right;
    z-index: 0;

    font-size: 14.7vmin;
    font-weight: $font-regular;
  }

  .today {
    @include g.col(2, 4, $right: true);
    bottom: 6.2%;
    text-align: right;

    &__day {
      font-size: 5vmin;
    }

    &__date {
      margin-top: 2.8vmin;
      font-size: 4.8vmin;
    }
  }

  .random-quote {
    // @extend %test;

    position: absolute;
    left: 50%;
    font-size: 3.33vmin;
    width: 66.36%;
    top: 57%;
    transform: translate3d(-50%, -50%, 0);

    &__quote {
      line-height: 1.35em;

      &:before {
        position: absolute;
        content: "“";
        left: -10px;
        top: -1px;

        color: $blue;
        font-size: 1.4em;
      }
    }

    &__char {
      margin-top: 5%;
      margin-bottom: 0.1rem;
      text-align: right;

      font-size: 0.9em;
      font-weight: $font-light;

      &::before {
        content: "-";
        position: absolute;
        margin-left: -1rem;
      }
    }

    &__anime {
      // position: relative;
      width: 50%;
      float: right;
      text-align: right;

      font-size: 0.5em;
      font-weight: $font-light;
      line-height: 1.36em;
    }
  }
}

//===================================================================
//              INFO SCREEN COMPONENTS
//===================================================================

.info {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .title {
    margin: 9% auto 0 auto;
    width: 90%;
    text-align: center;

    &__place {
      font-weight: $font-bold;
      font-size: 1.9rem;
      color: $black;
      line-height: 2em;
    }

    &__date {
      font-size: 1rem;
      color: #a1a1a1;
    }
  }

  .weather-info-wrap {
    width: 16rem;
    margin: 5rem auto 0;
    font-size: 3rem;
  }

  .down-arrow {
    position: absolute;
    bottom: 12%;
    width: 50px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.detailed-page {
  .day-menu {
    display: flex;
    width: fit-content;
    margin: 8% auto 0;
    justify-content: space-around;
    background-color: $lightgray;
    border-radius: 1.2rem;
    border: 1px solid $border-clr;
    font-size: 0.9em;

    span {
      padding: 0.5rem 1.2rem;
      border-radius: inherit;
      border: 1px solid transparent;
    }

    .active {
      background-color: $darkblue;
      border-color: $darkblue;
      color: #fff;
    }
  }

  .forecast-info-wrap {
    display: flex;
    padding: 0 1.5rem;
    margin-top: 5rem;

    .weather-info-wrap {
      width: 8rem;
      font-size: 1.5rem;
      position: relative;
      .weather-icon {
        width: 80%;
        left: 3%;
      }
      .forecast {
        font-size: 0.6em;
      }

      &::before {
        font-size: 0.7em;
        content: "Now";
        position: absolute;
        left: -1.3rem;
        top: 0.5rem;
        color: #8c8c8c;
        transform: rotate(-90deg);
      }
    }

    .weather-info-wrap.tomrw:before {
      content: "Tomr";
    }

    .weather-data {
      height: 30%;
      width: 27%;
      font-size: 1rem;

      &:nth-child(2) {
        margin-left: auto;
        margin-right: 5px;
        padding-right: 5px;
        border-right: 3px solid #b7b7b7;
      }

      .data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;

        .sunrise:after {
          content: "Sunrise";
        }

        .sunset:after {
          content: "Sunset";
        }

        .sunrise:after,
        .sunset:after {
          position: absolute;
          display: block;
          font-size: 0.65em;
          margin-top: 2px;
          color: $red;
        }

        .red {
          color: $red;
        }

        .blue {
          color: $blue;
        }

        .dark-blue {
          color: $darkblue;
        }

        .rain {
          position: relative;
          font-size: 1.5em;
          right: 10px;
          top: 2px;
        }

        .icon {
          height: 2.2rem;
          width: auto;
          padding-left: 5px;
        }
      }
    }
  }

  .forecast-table {
    margin-top: 4rem;
    padding: 0 1.9rem;
    font-size: 1.1rem;

    .title-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-weight: $font-bold;
      }
      .icon-calndr {
        height: 2rem;
        width: auto;
        fill: $lightblack;
      }
    }

    .data-wrap {
      display: flex;
      justify-content: space-around;
      height: 3rem;
      text-align: center;
      margin: 1rem 0;
      background-color: $lightgray;
      border-radius: 10px;
      height: 3.5rem;

      .time,
      .day,
      .temp,
      .icon {
        flex-basis: 30%;
        align-self: center;
      }

      .temp {
        font-size: 1.5em;
      }

      .temp.double {
        flex-basis: 40%;
      }

      .icon > svg {
        padding: 0.5rem;
        width: 60%;
        height: auto;
      }
    }
  }
}
